.accountImage {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
  border: 5px solid white;
}

.accountCategory {
  color: #666;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}

.accountsList {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: center;
  flex-wrap: wrap;
}

#accountsIndex {
  display: flex;
  justify-content: center;
  width: 100%;
}

#homeNavContainer {
  font-family: helvetica, arial, sans-serif;
  background: #3b5998;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#homeNav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#navButtons {
  display: flex;
  align-items: center;
}

.navText {
  color: white;
  margin-left: 15px;
  font-size: 14px;
}

#navButtons:hover {
  cursor: pointer;
}

.accountsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 80px;
  background-color: white;
}

#homePageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dddfe2;
  background-color: #f6f7f9;
  margin: 20px;
  width: 300px;
  word-break: break-word;
}


.objectName {
  color: #1d2129;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  vertical-align: middle;
  word-wrap: normal;
  text-align: center;
}

.accountItem:hover {
  cursor: pointer;
}

.accountPermissions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.homepageHeader {
  color: #1d2129;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  padding: 40px;
  font-size: 30px;
  line-height: 26px;
  vertical-align: middle;
  word-wrap: normal;
  text-align: center;
}
