.accountImage {
  width: 100px;
  height: 100px;
}

.accountsList {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: center;
}

#accountsIndex {
  display: flex;
  justify-content: center;
  width: 100%;
}

#homeNavContainer {
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  background: #3b5998;
  display: flex;
  justify-content: center;
  width: 100%;
}

#homeNav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#navButtons {
  display: flex;
  align-items: center;
}

.navText {
  color: white;
  margin-left: 15px;
  font-size: 14px;
}

#navButtons:hover {
  cursor: pointer;
}

.accountsContainer {
  display: flex;
  justify-content: center;
  width: 70%;
}

#homePageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: white;
  margin: 20px;
  min-width: 200px;
  padding: 30px;
}

.accountItem:hover {
  cursor: pointer;
}
