.postDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDetailContent {
  width: 70%;
  display: flex;
  margin-top: 80px;
}


.postDetailInfoContainer {
  width: 30%;
}

.postDetailForms {
  width: 70%;
}
