
.postIndexItem {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
}

.postButtons {
  display: flex;

}

.postFormImage {
  width: 70%;
  height: auto;
}

.postFormImageContainer {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}


.postAuthorPic {
  width: 60px;
  height: 60px;
}


.postIndexItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.postAuthorMiniInfo {
  display: flex;
  text-align: center;
}

.postAuthorMiniInfo img {
  margin-right: 20px;
}

.postAuthorMiniInfo span {
  margin-top: 15px;
  color: #3b5998;
}

.postPicture {
  width: 50%;
  height: auto;
}

.postIndexItemContent {
  padding: 20px;
  display: inline-block;
}

.postMessage {
  margin: 10px 15px;
  word-wrap: break-word;
}
