.postIndexItem {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}

.postButtons {
  display: flex;

}

.postFormImage {
  height: auto;
}

.postFormImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}


.postIndexItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.postAuthorMiniInfo {
  display: flex;
  text-align: center;
}

.postAuthorMiniInfo img {
  margin-right: 20px;
}

.postAuthorMiniInfo span {
  margin-top: 15px;
  color: #3b5998;
}
