<!DOCTYPE html>
<html>
<head>
  <title>AppDemo</title>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: 'dyfgfvczc',
      upload_preset: 'jclslmui'
    }
  </script>


  <script>
    window.pusher = new Pusher('f0ed6004e66da55f7fbf', {
      encrypted: true
    });

    window.channel = pusher.subscribe('account_update');
  </script>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1586369955001720',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use graph api version 2.5
    });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



  </script>

<%= yield %>

</body>
</html>
